
.icon-chat:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-folder-open:before { content: '\e802'; } /* '' */
.icon-gamepad:before { content: '\f11b'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-history:before { content: '\f1da'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
